<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.customerglu.sdk">

    <application>
        <activity
            android:name=".entrypoints.CGPiPFullScreenActivity"
            android:exported="false"
            android:theme="@style/CGFullScreenTheme" />

        <activity
            android:name=".notification.NotificationWeb"
            android:exported="false"
            android:protectionLevel="signature"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="OPEN_WEB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notification.BottomSheet"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name=".notification.BottomDialog"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".notification.MiddleDialog"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".clienttesting.ClientTestingPage"
            android:theme="@style/AppTheme" />


        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://examplePublicKey@o0.ingest.sentry.io/0" />

        <!--        <provider-->
        <!--            android:name=".Utils.CGFileProvider"-->
        <!--            android:authorities="${applicationId}.Utils.CGFileProvider"-->
        <!--            android:exported="false"-->
        <!--            android:grantUriPermissions="true">-->

        <!--            <meta-data-->
        <!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--                android:resource="@xml/cg_provider_path" />-->

        <!--        </provider>-->

    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>